body {
  padding-top: 50px;
}
#home .jumbotron {
	background: rgba(200, 54, 54, 0);
}
#home {
	background-image: url(http://i1006.photobucket.com/albums/af181/Sara_Lichtenstein/10adb547-813f-4596-9724-6f2a89c6851a_zpsedqbcev2.jpg);
	background-size: cover;
	height: 100vh;
	padding: 40px 15px;
	text-align: center;
}
#about {
	background-color: #d3d3d3;
	background-size: cover;
	height: 100vh;
	padding: 40px 15px;
	text-align: center;
}
#work {
	background-color: #ffffff;
	background-size: cover;
	height: 100vh;
	padding: 40px 15px;
	text-align: center;
}
#contact {
	background-color: #d3d3d3;
	background-size: cover;
	height: 60vh;
	padding: 40px 15px;
	text-align: center;
}